main {
  min-height: 80vh;
}

h1 {
  padding: 1rem 0;
  font-size: 1.8rem;
}

h2 {
  padding: 0.5rem 0;
  font-size: 1.4rem;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}
/* 
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  margin: 40px;
  padding: 30px;
  height: 300px;
  border-radius: 50%;
}

.carousel a {
  margin: 0 auto;
} */

.bg-footer {
  background: #ecf0f1;
}

.bg-darker {
  background: #1a262e;
}

.bg-normal {
  background: #2d3e4f;
}

.border-darker {
  border-top: 1px solid rgb(37, 51, 66);
}

.jumbotron {
  background: url('./images/pexels-karolina-grabowska-5632402.jpg') no-repeat
    center center/cover;
}
